* {
    box-sizing: border-box;
}

header {
    border: thin dotted black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

nav{
    border:  thin black dashed;
}

figcaption {
    text-align: center;
    margin: auto;
    max-width: 600px;
}

a {
    color: black;
    text-decoration: none;
}

h2.listbreak{
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    background-color: black;
}

.movie h3{
    text-decoration: underline;
}

.genres li {
    display: inline-block;
    border: thin solid black;
    border-radius: 5px;
    margin: 5px;
    background-color: lightblue;
    padding: 2px 4px;
}

.movie {
    text-align: center;
}

.movie .description {
    text-align: justify;
}

.inlink li{
    border: thin dotted red;
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.intro {
    /*border: thin dashed black;*/
    margin: auto;
    max-width: 800px;
    } 

/* .genres {
    border: thin dashed red;
} */

/* .list {
    border: thick dashed blue;
} */

.sectiontitle {
    text-align: center;
    border-bottom: 2px solid black;
}

/* #sfrc, #sfc {
    border: thin dotted red;
} */

.therapy {
    text-decoration: underline;
    color: blue;
}